body {
  background: #1c1a19;
}

header {
  width: 327px;
  height: 79px;
}

#heading {
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}
