body {
  margin: 0;
  padding: 0;
  width: 375px;
  height: 1901px;
  background: #e5e5e5;
}

#space-down {
  background-image: url("./assets/Illustration.png");
  background-repeat: no-repeat;
  background-position: 230px 130%;
  padding-bottom: 100px;
  background-color: #1c1a19;
}

#section-bac {
  background: #fff;
  padding: 100px 0;
}

#navbar {
  width: 375px;
  height: 48px;
  background-color: #3c3a39;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
}

#logo {
  height: 24px;
  top: calc(50% - 44px / 2);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#menu {
  width: 24px;
  height: 24px;
}

#intro {
  width: 327px;
  height: 124px;
  padding: 120px 24px 25px 24px;
}

#second-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#primary {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#texttwo {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  padding: 0 24px 0 24px;
  margin: 30px 0 5px 0;
}

#textthree {
  width: 327px;
  height: 123px;
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 0 24px 0 24px;
  margin: 0;
}

#socialmedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 0 24px 0 24px;
}

.icons {
  padding: 8px;
}

#decor {
  position: absolute;
  left: 230px;
  top: 300px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#heading-second {
  width: 327px;
  height: 107px;
  border-bottom: 1px solid #212121;
  margin: 0 24px 52px 24px;
}

#heads {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

#sec {
  display: grid;
  grid-template-rows: 568px 386px 386px 386px 386px 386px 386px;
  grid-gap: 24px 0;
}

.card {
  width: 327px;
  display: flex;
  flex-direction: column;
  margin: 0 24px 0 24px;
}

.other-cards {
  background-image: url("./assets/rest-card.png");
  background-repeat: no-repeat;
}

#head1 {
  width: 327px;
  height: 36px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.head-other {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.body-other {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

#contents1 {
  width: 327px;
  height: 147px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.button1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  width: 49px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
}

.but-other {
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  border: none;
}

.butcss {
  width: 49px;
}

.buthtm {
  width: 56px;
}

.butboot {
  width: 95px;
}

.butrub {
  width: 61px;
}

#butsee1 {
  height: 48px;
  margin-top: 10px;
}

.but-see-width {
  width: 327px;
  margin-top: 30px;
}

.but-see {
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
}

.description {
  margin-left: 10px;
}

#about-me {
  background-image: url("./assets/readme.png");
  background-repeat: no-repeat;
  background-position: 215px 20%;
  background-color: #1c1a19;
  padding: 40px 0 100px 0;
  width: 375px;
}

#about-tit {
  width: 327px;
  height: 79px;
  margin: 120px 24px 24px 24px;
}

#heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#text {
  width: 327px;
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 0 24px 15px 24px;
}

#skills {
  width: 329px;
  height: 1241.46px;
}

#skill-list {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  margin-top: 150px;
}

#rec-side {
  list-style-image: url("./assets/siderec.png");
}

#rec {
  list-style-image: url("./assets/rec.png");
}

#circle {
  list-style-image: url("./assets/circle.png");
}

.skill-tit {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.skill-list {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  list-style-type: none;
  margin: 30px 0;
}

#resume-button {
  width: 161px;
  height: 48px;
  margin-left: 24px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
}

#resume-button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

#firstlin {
  margin-top: 180px;
  width: 80%;
}

footer {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 24px;
  gap: 58px;
}

#foot-text {
  width: 327px;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

form {
  width: 327px;
  height: 330px;
}

#form-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 327px;
  height: 330px;
  list-style-type: none;
}

#touch-but {
  width: 131px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
}

#touch-but:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.input {
  width: 327px;
  height: 48px;
  border: none;
  border-bottom: 2px solid #dbd8d7;
}

textarea {
  width: 327px;
  height: 114px;
  border: none;
  background: #e5e5e5;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}
